<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartmanagertwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartManagerTwo">
        <activity
            android:name=".HopChonNhacNhoTheLoai"
            android:exported="true" >

        </activity>
        <activity
            android:name=".NhacNhoThemActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ThemMoi"
            android:exported="true" />
        <activity
            android:name=".ThongKe"
            android:exported="true" >

        </activity>
        <activity
            android:name=".NhacNhoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThuChi"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>